  .drawer {
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  }

  .greenButton {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
    font-size: 16px;
    color: #FFFFFF;
    background: #9DD558;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: lighten($color: #9DD558, $amount: 5%);
    }
    &:active {
      background: darken($color: #9DD558, $amount: 5%);
    }
  }

  .overlay {
    height: 100%;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

  .cartItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    font-size: 14px;
    margin-right: 12px;
  }

  .cartTotalBlock {
    ul {
      margin-bottom: 40px !important;
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
      }
    }
    div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #DFDFDF;
        position: relative;
        top: -4px;
        margin: 0 7px;
    }
    .greenButton {
      position: relative;

      &:hover {
        img {
          transform: translateX(5px);
        }
      }
      img {
        position: absolute;
        right: 40px;
        top: 22px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow: auto;
    max-width: 325px;
    max-height: 119px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    p {
      margin: 0;
      padding-bottom: 8px;
    }
    img {
      object-fit: contain;
    }
  }

  .removeBtn {
    margin: 0;
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    p {
      margin: 0;
      font-size: 16px;
    }

    .greenButton {
      margin: 0;
      width: 245px;
      height: 55px;
      margin-top: 20px;

      &:hover {
        img {
          transform: rotate(180deg) translateX(3px);
        }
      }
      img {
        transform: rotate(180deg);
        position: relative;
        margin-right: 15px;
        top: 1px;
        transition: transform 0.15s ease-in-out;
      }
    }
  }

  .emptyFavorites {
    margin: auto;
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .greenButton {
      margin-top: 70px;
    }
    h2 {
      margin-top: 30px;
      margin-bottom: 11px;
    }
  }